@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.active {
  color: orange !important;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.navbar-brand {
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  color: orange !important;
}
