<div class="">
  <img src="{{ car.image }}" class="img-fluid rounded" alt="" />
  <h1 class="mt-5 mb-3">CAR DETAIL</h1>
  <div class="row justify-content-evenly">
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">City</h6>
      <h6 class="col-6">{{ car.city }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Brand</h6>
      <h6 class="col-6">{{ car.brand }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Model</h6>
      <h6 class="col-6">{{ car.model }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Reg. Year</h6>
      <h6 class="col-6">{{ car.year }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Fual Type</h6>
      <h6 class="col-6">{{ car.fual }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">KMs Driven</h6>
      <h6 class="col-6">{{ car.kmd }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Ownership</h6>
      <h6 class="col-6">{{ car.owner }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Expected Price</h6>
      <h6 class="col-6">{{ car.price }}</h6>
      <hr />
    </div>
    <div class="row col-lg-4">
      <h6 class="text-warning col-6">Contact</h6>
      <h6 class="col-6">{{ car.mobile }}</h6>
      <hr />
    </div>
  </div>
</div>
